<html>
 <div class="telemetry">
  <div class="title">Temperature:
   {%- if telemetry.temperature -%}
    <div class="temperature">{{ telemetry.temperature }}</div>
   {%- else -%}
    <div class="temperature novalue">N/A</div>
   {%- endif -%}
  </div>
  <div class="title">Water level:
   {% if telemetry.water_level %}
    <div class="water_level">{{ telemetry.water_level }}</div>
   {% else %}
    <div class="water_level novalue">N/A</div>
   {% endif %}
  </div>
  <div class="title">Moisture:
   {% if telemetry.moisture %}
    <div class="moisture">{{ telemetry.moisture }}</div>
   {% else %}
    <div class="moisture novalue">N/A</div>
   {% endif %}
  </div>
 </div>
 <div class="watering_status">
  <div class="title">Last watering time:
   {%- if last_watering_time -%}
    <div class="last_watering_time">{{ last_watering_time }}</div>
   {%- else -%}
    <div class="last_watering_time novalue">N/A</div>
   {%- endif -%}
  </div>
  <div class="title">Last watering status:
   {%- if last_watering_status -%}
    <div class="last_watering_status">{{ last_watering_status }}</div>
   {%- else -%}
    <div class="last_watering_status novalue">N/A</div>
   {%- endif -%}
  </div>
 </div>
 <a href="update_telemetry">Update Telemetry</a>
 <form action="request_watering" method="post">
  <label for="time_s">Water plants for: </label><br>
  <input type="text" id="time_s" name="time_s"><br>
  <input type="submit" value="Submit">
 </form>
 <img src="last_pic.jpeg" alt="Pic not available"></img>
</html>